<p> PERMISOS:</p>


<!-- <form>
  <div class="form-group form-inline">
      Busqueda: <input class="form-control ml-2" type="text" [formControl]="filter"/>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let perm of permisos | async; index as i" [ngClass]="perm.active === 0 ? 'table-danger' : 'table-default'" >
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="perm.id" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="perm.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="perm.active" [term]="filter.value"></ngb-highlight>
      </td>
    </tr>
  </tbody>
</table> -->

<form>
    <div class="form-group form-inline">
        Busqueda: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div>
  
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" sortable="active" (sort)="onSort($event)">Active</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let perm of permisos$ | async" [ngClass]="perm.active === 0 ? 'table-danger' : 'table-default'" class="small">
        <th scope="row"><a routerLink="{{perm.id}}">{{ perm.id }}</a></th>
        <td>
          <ngb-highlight [result]="perm.name" [term]="service.searchTerm"></ngb-highlight>
          <ngb-highlight [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <!-- <ngb-highlight [result]="perm.active | number" [term]="service.searchTerm"></ngb-highlight> -->
          <i class="fas fa-check icon-green" *ngIf="perm.active === 1"></i>
          <i class="fas fa-times icon-red" *ngIf="perm.active === 0"></i>

        </td>
      </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="40">40 items per page</option>
        <option [ngValue]="60">60 items per page</option>
      </select>
    </div>
  
  </form>
