<body>
  <ul class="cb-slideshow" style="list-style-type:none;">
    <li>
      <span>Image 01</span>
    </li>
    <li>
      <span>Image 02</span>
    </li>
    <li>
      <span>Image 03</span>
    </li>
    <li>
      <span>Image 04</span>
    </li>
    <li>
      <span>Image 05</span>
    </li>
    <li>
      <span>Image 06</span>
    </li>
  </ul>
  <div class="login-form">
    <img src="/assets/img/logo_color_name.png" class="avatar">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
  <!--<footer class="page-footer">
    <div class="footer-link text-center py-5">© 2019
      <a href="https://www.logesta.com" target="_blank">Logesta</a>
    </div>
  </footer>
  -->
</body>
