<!-- SIDEBAR USERPIC -->
<div class="profile-userpic">
    <img src='https://api.adorable.io/avatars/170/{{username}}@adorable.png' class="img-responsive" alt="">
</div>
<!-- END SIDEBAR USERPIC -->
<!-- SIDEBAR USER TITLE -->
<div class="profile-usertitle">
    <div class="profile-usertitle-name">
        {{username}}
    </div>
    <div class="profile-usertitle-job">
        Developer
    </div>
</div>
<!-- END SIDEBAR USER TITLE -->

<!-- SIDEBAR BUTTONS -->
<div class="profile-userbuttons">
    <button type="button" class="btn btn-success btn-sm">Follow</button>
    <button type="button" class="btn btn-danger btn-sm">Message</button>
</div>
<!-- END SIDEBAR BUTTONS -->

<!-- SIDEBAR MENU -->
<div class="profile-usermenu">
    <ul class="nav flex-column ">
        <li class="nav-item">
            <a routerLink="/myteseo" (click)="toggleView('home')">
                <i class="fas fa-home"></i>
                Home </a>
        </li>
        <li>
            <a routerLink="/admin">
                <i class="fas fa-tools">
                </i>
                Admin Zone </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user"></i>
                Account Settings </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-truck-moving"></i>
                Bolsa de carga </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="fas fa-envelope"></i>
                Messages </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-question-circle"></i>
                Help </a>
        </li>
        <li>
            <a (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                Log out
            </a>

        </li>
    </ul>
</div>
<!-- END MENU -->